.card-title {
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.5;
}

.card {
  padding: 1.3rem;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}
